<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="image_flipper" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Image Flipper</label>
            <tab>amici</tab>
            <resource>Amici_ImageFlipper::image_flipper_config</resource>
            <group id="setting" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Image Flipper Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Select Yes for enable Product Image Flipper in frontend.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_container" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Container Class Name</label>
                    <comment>Set Product Container Class Name (Ex: .product-item-info)</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="product_image" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Image Class Name</label>
                    <comment>Set Product Image Class Name (Ex: .product-image-photo)</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="flip_image" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Flip Image</label>
                    <source_model>Amici\ImageFlipper\Model\Config\Source\FlipImageOption</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
